function Game.prepararTuberias 0
push argument 0
pop pointer 0
push this 2
push constant 0
push constant 30
call Tuberia.randomResetConOffset 3
pop temp 0
push this 3
push constant 90
push constant 40
call Tuberia.randomResetConOffset 3
pop temp 0
push this 4
push constant 180
push constant 50
call Tuberia.randomResetConOffset 3
pop temp 0
push this 2
call Tuberia.dibujar 1
pop temp 0
push this 3
call Tuberia.dibujar 1
pop temp 0
push this 4
call Tuberia.dibujar 1
pop temp 0
push constant 0
return
function Game.new 0
push constant 14
call Memory.alloc 1
pop pointer 0
push constant 2
call Tuberia.init 1
pop temp 0
call Board.new 0
pop this 1
push constant 20
push constant 40
call Nave.new 2
pop this 0
push constant 80
push constant 40
push constant 80
call Tuberia.new 3
pop this 2
push constant 240
push constant 60
push constant 160
call Tuberia.new 3
pop this 3
push constant 400
push constant 30
push constant 240
call Tuberia.new 3
pop this 4
push constant 15
pop this 8
push constant 180
pop this 9
push constant 0
pop this 10
push constant 0
pop this 11
push constant 50
pop this 12
push constant 1
neg
pop this 13
push pointer 0
return
function Game.dispose 0
push argument 0
pop pointer 0
push this 1
call Board.dispose 1
pop temp 0
push this 0
call Nave.dispose 1
pop temp 0
push this 2
call Tuberia.dispose 1
pop temp 0
push this 3
call Tuberia.dispose 1
pop temp 0
push this 4
call Tuberia.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Game.handleInput 0
push argument 0
pop pointer 0
call Keyboard.keyPressed 0
pop this 5
push this 5
push constant 131
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop this 10
push this 0
call Nave.boost 1
pop temp 0
label IF_FALSE0
push this 5
push constant 130
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop this 10
push this 0
call Nave.moveLeft 1
pop temp 0
push this 0
call Nave.boost 1
pop temp 0
label IF_FALSE1
push this 5
push constant 132
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
pop this 10
push this 0
call Nave.moveRight 1
pop temp 0
push this 0
call Nave.boost 1
pop temp 0
label IF_FALSE2
push this 5
push constant 81
eq
push this 11
push constant 30
gt
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
pop this 6
label IF_FALSE3
push constant 0
return
function Game.verificarColisiones 0
push argument 0
pop pointer 0
push this 11
push constant 60
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 9
push constant 0
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push this 2
push this 0
call Nave.x 1
push this 0
call Nave.y 1
call Tuberia.colision 3
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
pop this 6
label IF_FALSE2
push this 3
push this 0
call Nave.x 1
push this 0
call Nave.y 1
call Tuberia.colision 3
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
pop this 6
label IF_FALSE3
push this 4
push this 0
call Nave.x 1
push this 0
call Nave.y 1
call Tuberia.colision 3
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
not
pop this 6
label IF_FALSE4
push this 0
call Nave.y 1
push constant 240
gt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
not
pop this 6
label IF_FALSE5
push constant 0
return
function Game.ajustarDificultad 0
push argument 0
pop pointer 0
push this 1
call Board.score 1
push this 12
lt
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call Tuberia.vel 0
push constant 6
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
call Tuberia.vel 0
push constant 1
add
call Tuberia.setVel 1
pop temp 0
label IF_FALSE1
push this 12
push constant 50
add
pop this 12
push this 8
push constant 6
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 8
push constant 1
sub
pop this 8
label IF_FALSE2
label IF_FALSE0
push constant 0
return
function Game.update 1
push argument 0
pop pointer 0
push this 0
call Nave.update 1
pop temp 0
push this 9
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 9
push constant 1
sub
pop this 9
goto IF_END0
label IF_FALSE0
push this 2
call Tuberia.updateAndCheckPassed 1
pop local 0
push local 0
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
push constant 1
call Board.addScore 2
pop temp 0
label IF_FALSE1
push this 3
call Tuberia.updateAndCheckPassed 1
pop local 0
push local 0
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 1
push constant 1
call Board.addScore 2
pop temp 0
label IF_FALSE2
push this 4
call Tuberia.updateAndCheckPassed 1
pop local 0
push local 0
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 1
push constant 1
call Board.addScore 2
pop temp 0
label IF_FALSE3
push pointer 0
call Game.ajustarDificultad 1
pop temp 0
label IF_END0
push constant 0
return
function Game.run 0
push argument 0
pop pointer 0
push constant 0
pop this 6
push constant 0
pop this 7
push constant 180
pop this 9
push constant 0
pop this 10
push constant 0
pop this 11
push constant 15
pop this 8
push constant 50
pop this 12
push constant 1
neg
pop this 13
push constant 2
call Tuberia.setVel 1
pop temp 0
push this 1
call Board.resetScore 1
pop temp 0
push this 1
call Board.pantallaInicio 1
pop temp 0
push this 1
call Board.drawBackground 1
pop temp 0
push pointer 0
call Game.prepararTuberias 1
pop temp 0
push this 0
call Nave.dibujar 1
pop temp 0
label WHILE_EXP0
push this 6
not
not
if-goto WHILE_END0
push pointer 0
call Game.handleInput 1
pop temp 0
push this 10
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 11
push constant 1
add
pop this 11
push pointer 0
call Game.update 1
pop temp 0
push pointer 0
call Game.verificarColisiones 1
pop temp 0
push this 1
call Board.score 1
push this 13
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
call Board.drawHud 1
pop temp 0
push this 1
call Board.score 1
pop this 13
label IF_FALSE1
push this 8
call Sys.wait 1
pop temp 0
goto IF_END0
label IF_FALSE0
push this 1
call Board.score 1
push this 13
eq
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 1
call Board.drawHud 1
pop temp 0
push this 1
call Board.score 1
pop this 13
label IF_FALSE2
push this 8
call Sys.wait 1
pop temp 0
label IF_END0
goto WHILE_EXP0
label WHILE_END0
push this 1
call Board.pantallaGameOver 1
pop temp 0
label WHILE_EXP1
push this 7
not
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop this 5
push this 5
push constant 81
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
return
label IF_FALSE3
push this 5
push constant 82
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
not
pop this 7
label IF_FALSE4
goto WHILE_EXP1
label WHILE_END1
push this 1
call Board.drawBackground 1
pop temp 0
push this 0
push constant 20
push constant 40
call Nave.reset 3
pop temp 0
push pointer 0
call Game.prepararTuberias 1
pop temp 0
push constant 0
pop this 10
push constant 0
pop this 11
push constant 0
not
return
