function Tuberia.setVel 0
push argument 0
pop static 0
push constant 0
return
function Tuberia.getVel 0
push static 0
return
function Tuberia.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 2
push argument 2
pop this 1
push constant 18
pop this 3
push constant 0
not
pop this 4
push constant 0
pop this 5
push pointer 0
return
function Tuberia.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Tuberia.draw 0
push argument 0
pop pointer 0
push this 4
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 1
push constant 3
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push this 1
push this 3
add
push constant 252
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
return
label IF_FALSE2
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Tuberia.erase 1
push argument 0
pop pointer 0
push this 1
push constant 3
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 1
push constant 252
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push constant 0
call Screen.setColor 1
pop temp 0
push this 1
push this 3
add
push static 0
add
pop local 0
push local 0
push constant 252
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 252
pop local 0
label IF_FALSE2
push this 0
push this 1
push this 0
push this 2
add
push local 0
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Tuberia.update 0
push argument 0
pop pointer 0
push this 4
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push pointer 0
call Tuberia.erase 1
pop temp 0
push this 1
push static 0
add
pop this 1
push this 1
push constant 255
gt
push this 1
push this 3
add
push constant 252
gt
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Tuberia.regenerar 1
pop temp 0
goto IF_END1
label IF_FALSE1
push pointer 0
call Tuberia.draw 1
pop temp 0
label IF_END1
push constant 0
return
function Tuberia.regenerar 0
push argument 0
pop pointer 0
push constant 0
pop this 1
push constant 0
pop this 5
push this 0
push constant 150
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 35
pop this 2
label IF_FALSE0
push this 0
push constant 149
gt
push this 0
push constant 300
lt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 55
pop this 2
label IF_FALSE1
push this 0
push constant 299
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 25
pop this 2
label IF_FALSE2
push constant 0
return
function Tuberia.colision 0
push argument 0
pop pointer 0
push this 4
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 1
push constant 3
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push argument 1
push this 0
push this 2
add
lt
push argument 1
push constant 11
add
push this 0
gt
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 2
push this 1
push this 3
add
lt
push argument 2
push constant 15
add
push this 1
gt
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
return
label IF_FALSE3
label IF_FALSE2
push constant 0
return
function Tuberia.pasada 0
push argument 0
pop pointer 0
push this 5
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 1
push argument 1
push constant 15
add
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop this 5
push constant 0
not
return
label IF_FALSE1
push constant 0
return
function Tuberia.getX 0
push argument 0
pop pointer 0
push this 0
return
function Tuberia.getY 0
push argument 0
pop pointer 0
push this 1
return
function Tuberia.estaActiva 0
push argument 0
pop pointer 0
push this 4
return
function Tuberia.reset 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push argument 2
pop this 2
push argument 3
pop this 1
push constant 0
not
pop this 4
push constant 0
pop this 5
push constant 0
return
